
body{background-color:#6F4E37; color:#D2B48C ;font-family: georgia; font-size:16px; line-height:1.6;padding-left:8px;}
.box-1{border:5px black solid;}
.box-2{border:5px red solid;}
.box-3{border:5px #800020 solid;}
h1{color:#EADDCA;text-decoration:underline;}
h2{color:#EADDCA;text-decoration:underline;}
.column {
  float: center;
  width: 50%;
  padding: 5px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
nav {
    background-color: #D2B48C;
}
nav table {
    width: 100%;
    border-collapse: collapse;
}
nav td {
    width: 15%; /* Ensure each cell takes an equal share of the table width */
    text-align: center;
    padding: 14px 0; /* Adjust padding to make clickable area larger */
}
nav a {
    display: block;
    color: #654321;
    text-decoration: underline;
    padding: 14px 16px;
}
nav a:hover {
    background-color: #C19A6B;
}
<style>
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  img {
    max-width: 35%;
    max-height:25%;
    float: left;
  }

  .text {
    font-size: 20px;
    padding-left: 20px;
    padding-top: 0%;
    float: left;
}